

.banner {
    height: 5px;
}

.footer {
    height: 50px;
}

/*.cmd, .terminal .terminal-output{
    color: #0c0;
    font-size: 5rem;
    line-height: 3rem;
    height: 5rem;
}*/

@keyframes blink {
    0% { opacity: 1; }
    25% { opacity: 0; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}
@-webkit-keyframes blink {
    0% { opacity: 1; }
    25% { opacity: 0; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}
@-ms-keyframes blink {
    0% { opacity: 1; }
    25% { opacity: 0; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}
@-moz-keyframes blink {
    0% { opacity: 1; }
    25% { opacity: 0; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}
.cmd .cursor.blink {
    background: #0c0;
    -webkit-animation: blink 1s infinite linear;
       -moz-animation: blink 1s infinite linear;
        -ms-animation: blink 1s infinite linear;
            animation: blink 1s linear infinite;
    -webkit-box-shadow: 0 0 5px rgba(0,100,0,50);
       -moz-box-shadow: 0 0 5px rgba(0,100,0,50);
        -ms-box-shadow: 0 0 5px rgba(0,100,0,50);
         -o-box-shadow: 0 0 5px rgba(0,100,0,50);
            box-shadow: 0 0 5px rgba(0,100,0,50);
}


.terminal-output, .cmd, .cursor{
    color: #0c0;
}

@font-face{
    font-family: DejaVuSansMono;
    src: 
        url('../fonts/DejaVuSansMono.ttf') format('truetype'),
        url('../fonts/DejaVuSansMono.eot') format('embedded-opentype'),
        url('../fonts/DejaVuSansMono.woff') format('woff'),
        url('../fonts/DejaVuSansMono.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

.terminal, .cmd{
    font-family: DejaVuSansMono;
}