#frontend-and-art-o>.content-J{
    background: url(../images/QianDuan/bg@2x.png);
    background-size: cover;
}
#frontend-and-art-o .icon #frontend-plane{
    width: 8em;
    position: absolute;
}
#frontend-and-art-o .icon #frontend-css, #frontend-js, #frontend-ai{
    width: 2.8em;
    position: absolute;
}
#frontend-and-art-o .icon #frontend-ps{
    width: 3.2em;
    position: absolute;
}