/*loading样式*/
#loading-cover{
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 99;
}
#loading-cover>img{
	width: 100%;
}
#loading-cover #load-ball{
	border-radius: 50%;
	height: 10rem;
	width: 10rem;
	box-shadow: 0 0 1rem 0.7rem rgba(161, 231, 255, 0.6);
	overflow: hidden;
	position: absolute;
	top: 50%; left: 50%;
	-webkit-transform:translate(-5rem, -8rem);
}
#loading-cover #load-ball div{
	background-color: white;
	height: 11rem;
	width: 10rem;
	margin-top: 0rem;
}
#loading-cover #load-ball img{
	width: 25rem;
	margin-top: -0.6rem; 
	position: relative;
	left: 0;
}
#loading-cover #load-ball span{
	color: #8bfffe;
	font-size: 2.5rem;
	font-size: 黑体;
	text-align: center;

	width: 8rem;
	position: absolute;
	left: 50%; top: 50%;
	-webkit-transform:translate(-4rem, -1.5rem);
}
#loading-cover p{
	color: white;
	line-height: 1.8;
	font-size: 1.2rem;
	width: 10rem;
	text-align: center;

	position: absolute;
	left: 50%; bottom: 9rem;
	-webkit-transform:translateX(-5rem);
}