#movie{
	background-size: cover;
}
.movie-total-rotate{
	transform: rotate(90deg);
	transform-origin:0% 0%;

	-ms-transform: rotate(90deg); 		/* IE 9 */
	-ms-transform-origin:0% 0%; 		/* IE 9 */

	-webkit-transform: rotate(90deg);	/* Safari 和 Chrome */
	-webkit-transform-origin:0% 0%;	/* Safari 和 Chrome */

	-moz-transform: rotate(90deg);		/* Firefox */
	-moz-transform-origin:0% 0%;		/* Firefox */

	-o-transform: rotate(90deg);		/* Opera */
	-o-transform-origin:0% 0%;		/* Opera */
}
#movie video{
    /*position: relative;
    z-index: 80;*/
    transform: rotate(90deg);
	transform-origin:0% 0%;

	-ms-transform: rotate(90deg); 		/* IE 9 */
	-ms-transform-origin:0% 0%; 		/* IE 9 */

	-webkit-transform: rotate(90deg);	/* Safari 和 Chrome */
	-webkit-transform-origin:0% 0%;	/* Safari 和 Chrome */

	-moz-transform: rotate(90deg);		/* Firefox */
	-moz-transform-origin:0% 0%;		/* Firefox */

	-o-transform: rotate(90deg);		/* Opera */
	-o-transform-origin:0% 0%;		/* Opera */
}
#movie-control{
	position: relative;
    z-index: 80;
    left: 10%;
    transform: rotate(90deg);
	transform-origin:0% 0%;

	-ms-transform: rotate(90deg); 		/* IE 9 */
	-ms-transform-origin:0% 0%; 		/* IE 9 */

	-webkit-transform: rotate(90deg);	/* Safari 和 Chrome */
	-webkit-transform-origin:0% 0%;	/* Safari 和 Chrome */

	-moz-transform: rotate(90deg);		/* Firefox */
	-moz-transform-origin:0% 0%;		/* Firefox */

	-o-transform: rotate(90deg);		/* Opera */
	-o-transform-origin:0% 0%;		/* Opera */
}
#movie-control a, #movie-control-img{
	position: absolute;
	color: white;
	font-weight: 400 !important;
}
#movie-control a:nth-child(2){
	left: 20%;
	top: 7px;
}
#movie-control a:nth-child(3){
	left: 50%;
	top: 7px;
}
#hint{
	position: relative;
	left: 60%;
	bottom: 80px;
	color: white;
	line-height: 30px;
	transform: rotate(90deg);
	transform-origin:0% 0%;

	-ms-transform: rotate(90deg); 		/* IE 9 */
	-ms-transform-origin:0% 0%; 		/* IE 9 */

	-webkit-transform: rotate(90deg);	/* Safari 和 Chrome */
	-webkit-transform-origin:0% 0%;	/* Safari 和 Chrome */

	-moz-transform: rotate(90deg);		/* Firefox */
	-moz-transform-origin:0% 0%;		/* Firefox */

	-o-transform: rotate(90deg);		/* Opera */
	-o-transform-origin:0% 0%;		/* Opera */
}