#newmedia audio{
	position: absolute;
	visibility: hidden;
}
#newmedia{
	background-image: url('../images/player/b2.png');
	background-size: cover;
}
.lrc{
	background-image: url('../images/player/base.png');
	background-size: cover;
    background-repeat: no-repeat;
}
.lrc a{
	position: absolute;
}
.lrc .lrc-panel{
    position: relative;
    margin: auto;
    left: 10px;
    width: 290px;
    height: 350px;
    overflow: hidden;
}
.lrc-real{
    margin-top: 160px;
}
.lrc .lrc-panel p{
    text-align: center;
    font-size: 16px;
    height: 60px;
    color: white;
    font-weight: 100;
    line-height: 60px;
    letter-spacing: 1.5px;
}
#newmedia .container{
	padding: 20px 30px 0 30px;
	/*flex布局（已兼容）*/
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    /*调整为竖排*/
    flex-direction: column;
    /*一行中内容排不下时正常换行*/
    flex-wrap: wrap;
    /*主轴居中（已兼容）*/
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    /*交叉轴居中（已兼容）*/
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    font-family: 黑体;
}
#newmedia .icon{
	/*flex布局（已兼容）*/
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
	display: flex;
	/*主轴居中（已兼容）*/
    -ms-flex-pack: space-between;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    /*交叉轴居中（已兼容）*/
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    height: 70px;
}
.player-mask{
	background-image: url('../images/player/mask.png');
	background-size: cover;
	height: 70px;
	bottom: 0px;
	position: absolute;
}