#newmedia-o{
    background: url(../images/XinMei/bg@3x.png);
    background-size: cover;
}
#newmedia-o .icon img{
    position: absolute;    
}
#newmedia-o .icon img:nth-child(1){
    left: 50%; top: 50%;
    height: 8.8rem;
    -webkit-transform:translate(-4.4rem, -1.8rem); /* Safari 和 Chrome */
}
#newmedia-o .icon #newmedia-o-img1 img:nth-child(2){ height: 2.8rem; }
#newmedia-o .icon #newmedia-o-img1 img:nth-child(3){ height: 2.4rem; }
#newmedia-o .icon span{
    position: absolute;
    color: white !important;
}
#newmedia-o .icon #newmedia-o-img2 span:nth-child(1){ font-size: 2rem; }
#newmedia-o .icon #newmedia-o-img2 span:nth-child(2){ font-size: 1.9rem; }
#newmedia-o .icon #newmedia-o-img2 span:nth-child(3){ font-size: 1.8rem; }
#newmedia-o .icon #newmedia-o-img2 span:nth-child(4){ font-size: 1.7rem; }
#newmedia-o .icon #newmedia-o-img2 span:nth-child(5){ font-size: 1.6rem; }
#newmedia-o .icon #newmedia-o-img2 span:nth-child(6){ font-size: 1.4rem; }
#newmedia-o .icon #newmedia-o-img2 span:nth-child(7){ font-size: 1.4rem; }
#newmedia-o .icon #newmedia-o-img2 span:nth-child(8){ font-size: 1.4rem; }
#newmedia-o .icon #newmedia-o-img2 span:nth-child(9){ font-size: 1.4rem; }