/*通用样式*/
.back{
    position: absolute;
    top: 1.5rem; left: 1.5rem;
    color: #2deca6 !important; 
    font-weight: lighter !important; 
    font-size: 1rem;
}
/*小星球样式*/
#tech,#info,#man,#techp a,#infop a,#manp a{ 
    position: absolute;
}
.dDabumen{
    position: relative;
    text-align: center;
}

/*简介页*/
/*通用样式*/
.FenYe{
    height: 100%;
}
.content-J{
    width: 100%;
    height: 100%;
    position: relative;
}
.content-J .title img{
    width: 12rem;
    position: absolute;
    top: 5rem; left: 50%;
    -webkit-transform:translateX(-6rem);
}
.content-J .intro{
    text-align: center;
    width: 90%;
    font-size: 1.2rem;
    line-height: 1.8;
    color: white;
    font-weight: lighter !important; 
}
/*报名键方案一*/
.more, .form{
    text-align: center;
    font-size: 1.3rem;
    color: white !important; 
    font-weight: lighter !important;   
    
    background-color: #2deca6;
    border: none;
    border-radius: 0.6rem;  
    padding: 0.4rem 0.9rem;           
    
    position: absolute;
    bottom: 5rem; left: 50%;         
}
.content-J .more{
    -webkit-transform:translateX(-8rem); 
}
.content-J .form{
    -webkit-transform:translateX(2rem); 
    /*background-color: rgba(0, 0, 0, 0.3);*/
}

/*市场部*/
#market-o>.content-J{
    background-size: cover;
}
#market-o .icon img{
    position: absolute;
}
#market-o .icon img:nth-child(1){
    height: 10rem; 
    left: 50%; right: 50%;   
    -webkit-transform:translate(-5rem, -4rem); /* Safari 和 Chrome */ 
}
#market-o .icon img:nth-child(2){ height: 3.4rem; }
#market-o .icon img:nth-child(3){ height: 3rem; }
#market-o .icon img:nth-child(4){ height: 3rem; }
#market-o .icon img:nth-child(5){ height: 2.8rem; }

/*公关部*/
#publicrelation-o>.content-J{
    background-size: cover;
}
#publicrelation-o .icon img{
    position: absolute; 
    left: 50%; top: 50%;   
}
#publicrelation-o .icon img:nth-child(1){   
    width: 6.8rem;
    -webkit-transform:translate(-3.4rem, -5rem); /* Safari 和 Chrome */
}
#publicrelation-o .icon img~img{
    width: 3.4rem;
    -webkit-transform:translate(-1.7rem, 2rem); /* Safari 和 Chrome */
}

/*新闻部*/
#news-o>.content-J{
    background: url(../images/XinWen/bg@3x.jpg);
    background-size: cover;
}
#news-o .icon img{
    position: absolute;   
}
#news-o .icon #news-o-sun, #news-o .icon #news-o-img img:nth-child(1){
    left: 50%; top: 50%;
    height: 10rem;
    -webkit-transform:translate(-5rem, -2.4rem); /* Safari 和 Chrome */
}
#news-o .icon #news-o-img img:nth-child(2){
    height: 1.4rem;
    left: 50%; top: 50%;
    -webkit-transform:translate(-0.5rem, 3rem); /* Safari 和 Chrome */
}
#news-o .icon #news-o-voice{
    height: 12rem;
}
#news-o .icon #news-o-bg{
    display: inline-block;
    width: 2.2rem;
    height: 12rem;
    position: absolute;  
    overflow: hidden; 
}
#news-o .icon #news-o-bg img{
    position: absolute; 
}
#news-o .icon #news-o-img img:nth-child(3){height: 1.5rem;}
#news-o .icon #news-o-img img:nth-child(4){height: 1.5rem;}
#news-o .icon #news-o-img img:nth-child(5){height: 1.4rem;}
#news-o .icon #news-o-img img:nth-child(6){height: 0.9rem;}
#news-o .icon #news-o-img img:nth-child(7){height: 0.6rem;}
#news-o .icon #news-o-img img:nth-child(8){height: 1.3rem;}
#news-o .icon #news-o-img img:nth-child(9){height: 0.9rem;}
#news-o .icon #news-o-img img:nth-child(10){height: 1.3rem;}
#news-o .icon #news-o-img img:nth-child(11){height: 1.3rem;}
#news-o .icon #news-o-img img:nth-child(12){height: 1.1rem;}
#news-o .icon #news-o-img img:nth-child(13){height: 1rem;}
#news-o .icon #news-o-img img:nth-child(14){height: 1.4rem;}
#news-o .icon #news-o-img img:nth-child(15){height: 0.9rem;}
#news-o .icon #news-o-img img:nth-child(16){height: 0.9rem;}
#news-o .icon #news-o-img img:nth-child(17){height: 1rem;}

/*影视部*/
#movie-o>.content-J{
    background-size: cover;
}
#movie-o .icon img{
    position: absolute;   
}
#movie-o .icon img:nth-child(1){
    height: 5.5rem; 
  
}
#movie-o .icon img:nth-child(2){
    height: 10rem;   
 
}

/*新媒体部*/
#newmedia-o>.content-J{
    background-size: cover;
}
#newmedia-o .icon img{
    position: absolute;    
}
#newmedia-o .icon img:nth-child(1){
    left: 50%; top: 50%;
    height: 8.8rem;
    -webkit-transform:translate(-4.4rem, -1.8rem); /* Safari 和 Chrome */
}
#newmedia-o .icon #newmedia-o-img1 img:nth-child(2){ height: 2.8rem; }
#newmedia-o .icon #newmedia-o-img1 img:nth-child(3){ height: 2.4rem; }
#newmedia-o .icon span{
    position: absolute;
    color: white !important;
}
#newmedia-o .icon #newmedia-o-img2 span:nth-child(1){ font-size: 2rem; }
#newmedia-o .icon #newmedia-o-img2 span:nth-child(2){ font-size: 1.9rem; }
#newmedia-o .icon #newmedia-o-img2 span:nth-child(3){ font-size: 1.8rem; }
#newmedia-o .icon #newmedia-o-img2 span:nth-child(4){ font-size: 1.7rem; }
#newmedia-o .icon #newmedia-o-img2 span:nth-child(5){ font-size: 1.6rem; }
#newmedia-o .icon #newmedia-o-img2 span:nth-child(6){ font-size: 1.4rem; }
#newmedia-o .icon #newmedia-o-img2 span:nth-child(7){ font-size: 1.4rem; }
#newmedia-o .icon #newmedia-o-img2 span:nth-child(8){ font-size: 1.4rem; }
#newmedia-o .icon #newmedia-o-img2 span:nth-child(9){ font-size: 1.4rem; }

/*产品部*/
#product-o>.content-J{
    background-size: cover;
}
#product-o .icon #product-o-ball img{
    position: absolute;
    top: 50%; left: 50%;
}
#product-o .icon #product-o-ball .lamp{
    width: 6em;
    -webkit-transform:translate(-3em, -2em); /* Safari 和 Chrome */
}
#product-o .icon #product-o-ball img:nth-child(3), #product-o .icon #product-o-ball img:nth-child(4){
    width: 2.2em;
    -webkit-transform:translate(-4.6em, -6em); /* Safari 和 Chrome */
}
#product-o .icon #product-o-ball img:nth-child(5), #product-o .icon #product-o-ball img:nth-child(6){
    width: 1.3em;
    -webkit-transform:translate(-9em, -6em); /* Safari 和 Chrome */
}
#product-o .icon #product-o-ball img:nth-child(7), #product-o .icon #product-o-ball img:nth-child(8){
    width: 2.1em;
    -webkit-transform:translate(-10em, -1.5em); /* Safari 和 Chrome */
}
#product-o .icon #product-o-ball img:nth-child(9), #product-o .icon #product-o-ball img:nth-child(10){
    width: 1.1em;
    -webkit-transform:translate(-5.5em, 2em); /* Safari 和 Chrome */
}
#product-o .icon #product-o-ball img:nth-child(11), #product-o .icon #product-o-ball img:nth-child(12){
    width: 1.3em;
    -webkit-transform:translate(-7.5em, 6em); /* Safari 和 Chrome */
}
#product-o .icon #product-o-ball img:nth-child(13), #product-o .icon #product-o-ball img:nth-child(14){
    width: 2.2em;
    -webkit-transform:translate(3em, -5.5em); /* Safari 和 Chrome */
}
#product-o .icon #product-o-ball img:nth-child(15), #product-o .icon #product-o-ball img:nth-child(16){
    width: 1.2em;
    -webkit-transform:translate(9em, -4.5em); /* Safari 和 Chrome */
}
#product-o .icon #product-o-ball img:nth-child(17), #product-o .icon #product-o-ball img:nth-child(18){
    width: 2.1em;
    -webkit-transform:translate(7em, -0.5em); /* Safari 和 Chrome */
}
#product-o .icon #product-o-ball img:nth-child(19), #product-o .icon #product-o-ball img:nth-child(20){
    width: 1em;
    -webkit-transform:translate(4.2em, 2em); /* Safari 和 Chrome */
}
#product-o .icon #product-o-ball img:nth-child(21), #product-o .icon #product-o-ball img:nth-child(22){
    width: 1.3em;
    -webkit-transform:translate(5em, 5.8em); /* Safari 和 Chrome */
}
#product-o .icon #product-o-line div{
    position: absolute;
    top: 50%; left: 50%;
    border: 0.1em solid rgba(251,247,202,0.7);
    height: 0em;
    transform-origin: 0 0;
}
#product-o .icon #product-o-line div:nth-child(1){   
    width: 3.2em;    
    -webkit-transform:translate(-7.8em, -5.5em) rotate(6deg); /* Safari 和 Chrome */
}
#product-o .icon #product-o-line div:nth-child(2){
    width: 3.2em;
    -webkit-transform:translate(-8.3em, -4.7em) rotate(98deg); /* Safari 和 Chrome */
}
#product-o .icon #product-o-line div:nth-child(3){
    width: 4.8em;
    -webkit-transform:translate(-4.2em, -4em) rotate(140deg); /* Safari 和 Chrome */
}
#product-o .icon #product-o-line div:nth-child(4){
    width: 3.3em;
    -webkit-transform:translate(-6.6em, 6em) rotate(-66deg); /* Safari 和 Chrome */
}
#product-o .icon #product-o-line div:nth-child(5){
    width: 3.2em;
    -webkit-transform:translate(-8em, 0.1em) rotate(34deg); /* Safari 和 Chrome */
}
#product-o .icon #product-o-line div:nth-child(6){
    width: 5.8em;
    -webkit-transform:translate(-5em, 2em) rotate(-80deg); /* Safari 和 Chrome */
}
#product-o .icon #product-o-line div:nth-child(7){
    width: 2.9em;
    -webkit-transform:translate(-2.8em, -4.2em) rotate(50deg); /* Safari 和 Chrome */
}
#product-o .icon #product-o-line div:nth-child(8){
    width: 1.8em;
    -webkit-transform:translate(-4.5em, 2.5em) rotate(-5deg); /* Safari 和 Chrome */
}
#product-o .icon #product-o-line div:nth-child(9){
    width: 3.2em;
    -webkit-transform:translate(9.5em, -3.5em) rotate(108deg); /* Safari 和 Chrome */
}
#product-o .icon #product-o-line div:nth-child(10){
    width: 3.8em;
    -webkit-transform:translate(9em, -3.8em) rotate(185deg); /* Safari 和 Chrome */
}
#product-o .icon #product-o-line div:nth-child(11){
    width: 4.2em;
    -webkit-transform:translate(7.3em, -0.1em) rotate(-130deg); /* Safari 和 Chrome */
}
#product-o .icon #product-o-line div:nth-child(12){
    width: 2.8em;
    -webkit-transform:translate(5.5em, 5.8em) rotate(-105deg); /* Safari 和 Chrome */
}
#product-o .icon #product-o-line div:nth-child(13){
    width: 5em;
    -webkit-transform:translate(3.9em, -3.2em) rotate(80deg); /* Safari 和 Chrome */
}
#product-o .icon #product-o-line div:nth-child(14){
    width: 2em;
    -webkit-transform:translate(5.2em, 2em) rotate(-30deg); /* Safari 和 Chrome */
}
#product-o .icon #product-o-line div:nth-child(15){
    width: 1.5em;
    -webkit-transform:translate(4.2em, 2.6em) rotate(-170deg); /* Safari 和 Chrome */
}
#product-o .icon #product-o-line div:nth-child(16){
    width: 2.4em;
    -webkit-transform:translate(3.3em, -3.6em) rotate(130deg); /* Safari 和 Chrome */
}

/*前端美工组*/
#frontend-and-art-o>.content-J{
    background-size: cover;
}
#frontend-and-art-o .icon #frontend-plane{
    width: 8em;
    position: absolute;
}
#frontend-and-art-o .icon #frontend-css, #frontend-and-art-o .icon #frontend-js, #frontend-and-art-o .icon #frontend-ai{
    width: 2.8em;
    position: absolute;
}
#frontend-and-art-o .icon #frontend-ps{
    width: 3.2em;
    position: absolute;
}

/*后台app组*/
#backapp-o>.content-J{
    background-size: cover;
}
#backapp-o .icon img{
    height: 15em;
    position: absolute;
}

/*后台web组*/
#backend-o>.content-J{
    background-size: cover;
}
#backend-o .icon #backend-o-ball, #backend-o .icon #backend-o-ballshine{
    height: 10rem;
    position: absolute; 
    left: 50%; top: 50%;
    -webkit-transform:translate(-5em, -5em); /* Safari 和 Chrome */
}
#backend-o .icon #backend-o-bg{
    display: inline-block;
    width: 14rem;
    height: 14rem;
    border-radius: 50%;
    position: absolute;  
    overflow: hidden; 
}
#backend-o .icon #backend-o-bg img{
    position: absolute; 
}
#backend-o .icon #backend-o-ufo{
    width: 6.4em;
    height: 6em;
    position: absolute; 
    -webkit-transform:rotate(-10deg); /* Safari 和 Chrome */
}

/*详情页*/
/*新闻部*/
#news{
    overflow: hidden;
    perspective:1200px;
    -webkit-perspective:1200px;
}
#news #news-hint1{
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}
#news #news-hint1 div{
    height: 100%;
    width: 50%;  
    vertical-align: middle;
}
#news #news-hint1 #news-left{
    float: left;
}
#news #news-hint1 #news-right{
    float: right;
}
#news #news-hint1 div p{
    font-size: 1.2rem;
    color: white;
    position: absolute;
    top: 50%;
    -webkit-transform:translateY(-2rem);
}
#news #news-hint1 #news-left p{
    left: 2.5rem;
}
#news #news-hint1 #news-right p{
   right: 2.5rem;
}
#news .news-contain{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: white;
    -webkit-transform-style: preserve-3d;
}
#news .news-contain img{
    position: absolute;
    top: 50%;
    width: 100%;
}
#news .news-contain img:nth-child(4){
    width: 90%;
}
#news #news-hint2, #news #news-hint3{
    width: 9rem;
    height: 3rem;
    position: absolute;
    top: 50%; left: 50%;
    -webkit-transform:translate(-4.5rem, -1.5rem);
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 0.5rem;
    color: white;
    padding: 1rem;
    text-align: center;
}

/*公关部*/
#publicrelation{
    background-color: rgb(24, 190, 240);
    height: 100%;
}
#publicrelation>img{
    width: 22rem;
    position: absolute;
    bottom: 5rem; left: 50%;
    -webkit-transform:translateX(-11rem);
}
#publicrelation>a{
    color: white !important;
}
#publicrelation .content-X{
    width: 100%;
    height: 60%;
}
#publicrelation .content-X>div{
    width: 70%;
    color: white;
    line-height: 1.5;
    font-size: 1.3rem;
    Letter-spacing: 0.12rem;
    display: none;
    position: relative;
}
#publicrelation .content-X>div:nth-child(2){
    text-align: left;
    margin-bottom: 10rem
}
#publicrelation .content-X>div p{
    text-align: center;
}
#publicrelation .content-X>div:nth-child(2) div{   
    margin-top: 5rem;
    width: 45%;
    font-size: 1.1rem;
    Letter-spacing: 0;
    position: absolute;
    -webkit-transform:translateY(-1rem);
}
#publicrelation .content-X>div:nth-child(2) img{
    width: 8.5rem;   
    position: absolute;
    -webkit-transform:translateY(3rem);
}
#publicrelation .content-X>div:nth-child(2) img.publicrelation_one {
    right: 0; 
}
#publicrelation .content-X>div:nth-child(2) div.publicrelation_two{
    right: 0; 
}
#publicrelation .content-X>div:nth-child(2) img.publicrelation_two {
    left: 0;
}

/*影视部*/
#movie{
    background-size: cover;
}
.movie-total-rotate{
    transform: rotate(90deg);
    transform-origin:0% 0%;

    -ms-transform: rotate(90deg);       /* IE 9 */
    -ms-transform-origin:0% 0%;         /* IE 9 */

    -webkit-transform: rotate(90deg);   /* Safari 和 Chrome */
    -webkit-transform-origin:0% 0%; /* Safari 和 Chrome */

    -moz-transform: rotate(90deg);      /* Firefox */
    -moz-transform-origin:0% 0%;        /* Firefox */

    -o-transform: rotate(90deg);        /* Opera */
    -o-transform-origin:0% 0%;      /* Opera */
}
#movie video{
    /*position: relative;
    z-index: 80;*/
    transform: rotate(90deg);
    transform-origin:0% 0%;

    -ms-transform: rotate(90deg);       /* IE 9 */
    -ms-transform-origin:0% 0%;         /* IE 9 */

    -webkit-transform: rotate(90deg);   /* Safari 和 Chrome */
    -webkit-transform-origin:0% 0%; /* Safari 和 Chrome */

    -moz-transform: rotate(90deg);      /* Firefox */
    -moz-transform-origin:0% 0%;        /* Firefox */

    -o-transform: rotate(90deg);        /* Opera */
    -o-transform-origin:0% 0%;      /* Opera */
}
#movie-control{
    position: relative;
    z-index: 80;
    left: 10%;
    transform: rotate(90deg);
    transform-origin:0% 0%;

    -ms-transform: rotate(90deg);       /* IE 9 */
    -ms-transform-origin:0% 0%;         /* IE 9 */

    -webkit-transform: rotate(90deg);   /* Safari 和 Chrome */
    -webkit-transform-origin:0% 0%; /* Safari 和 Chrome */

    -moz-transform: rotate(90deg);      /* Firefox */
    -moz-transform-origin:0% 0%;        /* Firefox */

    -o-transform: rotate(90deg);        /* Opera */
    -o-transform-origin:0% 0%;      /* Opera */
}
#movie-control a, #movie-control-img{
    position: absolute;
    color: white;
    font-weight: 400 !important;
}
#movie-control a:nth-child(2){
    left: 20%;
    top: 7px;
}
#movie-control a:nth-child(3){
    left: 50%;
    top: 7px;
}
#hint{
    position: absolute;
    left: 60%;
    bottom: 80px;
    color: white;
    line-height: 30px;
    transform: rotate(90deg);
    transform-origin:0% 0%;

    -ms-transform: rotate(90deg);       /* IE 9 */
    -ms-transform-origin:0% 0%;         /* IE 9 */

    -webkit-transform: rotate(90deg);   /* Safari 和 Chrome */
    -webkit-transform-origin:0% 0%; /* Safari 和 Chrome */

    -moz-transform: rotate(90deg);      /* Firefox */
    -moz-transform-origin:0% 0%;        /* Firefox */

    -o-transform: rotate(90deg);        /* Opera */
    -o-transform-origin:0% 0%;      /* Opera */
}

/*新媒体部*/
#newmedia audio{
    position: absolute;
    visibility: hidden;
}
#newmedia{
    background-size: cover;
}
.lrc{
    background-size: cover;
    background-repeat: no-repeat;
}
.lrc a{
    position: absolute;
}
.lrc .lrc-panel{
    position: relative;
    margin: auto;
    left: 10px;
    width: 260px;
    overflow: hidden;
}
.lrc-real{
    margin-top: 160px;
}
.lrc .lrc-panel p{
    text-align: center;
    font-size: 16px;
    height: 60px;
    color: white;
    font-weight: 100;
    line-height: 60px;
    letter-spacing: 1.5px;
}
#newmedia .container{
    padding: 20px 30px 0 30px;
    /*flex布局（已兼容）*/
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    /*调整为竖排*/
    flex-direction: column;
    /*一行中内容排不下时正常换行*/
    flex-wrap: wrap;
    /*主轴居中（已兼容）*/
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    /*交叉轴居中（已兼容）*/
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    font-family: 黑体;
}
#newmedia .icon{
    /*flex布局（已兼容）*/
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    /*主轴居中（已兼容）*/
    -ms-flex-pack: space-between;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    /*交叉轴居中（已兼容）*/
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    height: 70px;
    z-index: 999;
}
.player-mask{
    background-size: cover;
    height: 70px;
    bottom: 0px;
    position: absolute;
}

/*前端美工*/
#frontend-and-art{
    width: 100%;
    height: 100%;
}
#frontend-and-art .content{
    width: 100%;
    height: 100%;
}
#frontend-and-art img{
    display: block;
    max-width: 950px;
    width: 100%;
    height: 100%;
    position: absolute;
}
#motuname,#monaname{
    left: 14%;
    top: 12%;
    color: #83685d;
    z-index: 10;
    position: absolute;
    font-size: 16px;
    opacity: 1;
}
#frontend-and-art #motuname{
    opacity: 0;
}
#frontend-and-art #mona{
    width: 67%;
    height:53%;
    top: 20%;
    left: 16%;
    opacity: 1;
    box-shadow: 3px 3px #888888;
}
#frontend-and-art #motu{
    width: 67%;
    height:53%;
    top: 20%;
    left:16%;
    opacity: 0;
    box-shadow: 3px 3px #888888;
}
#frontend-and-art #rabbit{
    width: 80%;
    height: auto;
    bottom: 20px;
    left: 0%;
}
#frontend-and-art #speak{
    width: 30%;
    height: auto;
    left: 40%;
    bottom: 100px;
    z-index: 10;
}
#frontend-and-art #screen{
    position: relative;
    width: 1px;
    height: auto;
    margin: 0 auto;
    padding: 10% 0 6% 0;
}
#frontend-and-art .qianduanword{
    text-align: center;
    width: 60%;
    left: 20%;
    color: #150500;
    position: absolute;
    font-size: 18px;
}
#frontend-and-art .qianduanword p{
    margin-top: 7px;
    opacity: 0;
}

/*app*/
#backapp{
    width: 100%;
    height: 100%;
}
#backapp .content{
    width: 100%;
    height: 100%;
}
#backapp img{
    max-width: 950px;
    width: 100%;
    height: 100%;
    position: absolute;
}
#backapp #appufo{
    width: 30%;
    height: auto;
    position: absolute;
    left: -150px;
    top: 50%;
}
#backapp #approbot{
    width: 1%;
    position: absolute;
    left:49%;
    top: 66%;
    height: auto;
}
#backapp #applight{
    width: 20%;
    position: absolute;
    left:40%;
    top: 65%;
    height: auto;
    opacity: 0;
}
#backapp #appspeak{
    width: 80%;
    height: auto;
    position: absolute;
    left: 5%;
    top: 7%;
    opacity: 0;
}
#backapp .word{
    width: 50%;
    position: absolute;
    left: 24%;
    top: 11%;
    text-align: center;
}
#backapp .word p{
    margin-top: 10px;
    font-size: 18px;
    opacity: 0;
}
#backapp .word p.special{
    position: absolute;
    opacity: 0;
    top:22%;
    font-size: 22px;
}