.main-wrapper-c{
    background-image: url('../images/star/bg1.png');
    background-size: cover;
}
#nav{
    background-size: cover;
}
#nav img{
    position: absolute;
}
.animate{
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background: url(../images/section_home_fg.png) repeat;
    animation: 5s line linear infinite;
    -webkit-animation: 5s line linear infinite;
    -moz-animation: 5s line linear infinite;
    -ms-animation: 5s line linear infinite;
    -o-animation: 5s line linear infinite;
}

@-webkit-keyframes line{
    0%{
        background-position: -900px 900px;
        opacity: 0;
    }
    50%{
        background-position: 0 0;
        opacity: 0.7;
    }
    100%{
        background-position: 900px -900px;
        opacity: 0;
    }

}
@-moz-keyframes line{
    0%{
        background-position: -900px 900px;
        opacity: 0;
    }
    50%{
        background-position: 0 0;
        opacity: 0.7;
    }
    100%{
        background-position: 900px -900px;
        opacity: 0;
    }

}
@-ms-keyframes line{
    0%{
        background-position: -900px 900px;
        opacity: 0;
    }
    50%{
        background-position: 0 0;
        opacity: 0.7;
    }
    100%{
        background-position: 900px -900px;
        opacity: 0;
    }

}
@-o-keyframes line{
    0%{
        background-position: -900px 900px;
        opacity: 0;
    }
    50%{
        background-position: 0 0;
        opacity: 0.7;
    }
    100%{
        background-position: 900px -900px;
        opacity: 0;
    }

}
@keyframes line{
    0%{
        background-position: -900px 900px;
        opacity: 0;
    }
    50%{
        background-position: 0 0;
        opacity: 0.7;
    }
    100%{
        background-position: 900px -900px;
        opacity: 0;
    }
}
.star-container{
    overflow: hidden;
}
.main-wrapper{
    position: relative;
    background-image: url('../images/star/bg.png');
    text-align: center;
}
#star-content-wrapper{
    position: absolute;
    top: 0;
}
#star-content-wrapper div{
    width: 100px;
    color: #fff;
    position: absolute;
}
.orbit{
    perspective: 600px;
}
.front,.back1,.back2{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	position: absolute;
	background-color: #c0f;
	text-align: center;

}
.front span,.back1 span,.back2 span{
    position: absolute;
    top: 50%;
}
.front{
	animation: 3s rot1 linear infinite;
}
@keyframes rot1{
	100%{
		transform: translate3d(180px,0px,180px);
	}
}